[
  {
    "name": "servidor-01",
    "url":  "http://192.168.1.10:8766"
  },
  {
    "name": "servidor-02",
    "url":  "http://192.168.1.11:8766"
  },
  {
    "name": "servidor-03",
    "url":  "http://192.168.1.12:8766"
  }
]
